@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Light.eot");
  src: url("../fonts/Lufga-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-Light.woff2") format("woff2"),
    url("../fonts/Lufga-Light.woff") format("woff"),
    url("../fonts/Lufga-Light.ttf") format("truetype"),
    url("../fonts/Lufga-Light.svg#Lufga-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraLightItalic.eot");
  src: url("../fonts/Lufga-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Lufga-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Lufga-ExtraLightItalic.woff") format("woff"),
    url("../fonts/Lufga-ExtraLightItalic.ttf") format("truetype"),
    url("../fonts/Lufga-ExtraLightItalic.svg#Lufga-ExtraLightItalic")
      format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Italic.eot");
  src: url("../fonts/Lufga-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-Italic.woff2") format("woff2"),
    url("../fonts/Lufga-Italic.woff") format("woff"),
    url("../fonts/Lufga-Italic.ttf") format("truetype"),
    url("../fonts/Lufga-Italic.svg#Lufga-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraBold.eot");
  src: url("../fonts/Lufga-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-ExtraBold.woff2") format("woff2"),
    url("../fonts/Lufga-ExtraBold.woff") format("woff"),
    url("../fonts/Lufga-ExtraBold.ttf") format("truetype"),
    url("../fonts/Lufga-ExtraBold.svg#Lufga-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraLight.eot");
  src: url("../fonts/Lufga-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-ExtraLight.woff2") format("woff2"),
    url("../fonts/Lufga-ExtraLight.woff") format("woff"),
    url("../fonts/Lufga-ExtraLight.ttf") format("truetype"),
    url("../fonts/Lufga-ExtraLight.svg#Lufga-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-BoldItalic.eot");
  src: url("../fonts/Lufga-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-BoldItalic.woff2") format("woff2"),
    url("../fonts/Lufga-BoldItalic.woff") format("woff"),
    url("../fonts/Lufga-BoldItalic.ttf") format("truetype"),
    url("../fonts/Lufga-BoldItalic.svg#Lufga-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ExtraBoldItalic.eot");
  src: url("../fonts/Lufga-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Lufga-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Lufga-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Lufga-ExtraBoldItalic.ttf") format("truetype"),
    url("../fonts/Lufga-ExtraBoldItalic.svg#Lufga-ExtraBoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-MediumItalic.eot");
  src: url("../fonts/Lufga-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-MediumItalic.woff2") format("woff2"),
    url("../fonts/Lufga-MediumItalic.woff") format("woff"),
    url("../fonts/Lufga-MediumItalic.ttf") format("truetype"),
    url("../fonts/Lufga-MediumItalic.svg#Lufga-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-SemiBoldItalic.eot");
  src: url("../fonts/Lufga-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Lufga-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Lufga-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Lufga-SemiBoldItalic.ttf") format("truetype"),
    url("../fonts/Lufga-SemiBoldItalic.svg#Lufga-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-LightItalic.eot");
  src: url("../fonts/Lufga-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-LightItalic.woff2") format("woff2"),
    url("../fonts/Lufga-LightItalic.woff") format("woff"),
    url("../fonts/Lufga-LightItalic.ttf") format("truetype"),
    url("../fonts/Lufga-LightItalic.svg#Lufga-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-ThinItalic.eot");
  src: url("../fonts/Lufga-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-ThinItalic.woff2") format("woff2"),
    url("../fonts/Lufga-ThinItalic.woff") format("woff"),
    url("../fonts/Lufga-ThinItalic.ttf") format("truetype"),
    url("../fonts/Lufga-ThinItalic.svg#Lufga-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Medium.eot");
  src: url("../fonts/Lufga-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-Medium.woff2") format("woff2"),
    url("../fonts/Lufga-Medium.woff") format("woff"),
    url("../fonts/Lufga-Medium.ttf") format("truetype"),
    url("../fonts/Lufga-Medium.svg#Lufga-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Thin.eot");
  src: url("../fonts/Lufga-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-Thin.woff2") format("woff2"),
    url("../fonts/Lufga-Thin.woff") format("woff"),
    url("../fonts/Lufga-Thin.ttf") format("truetype"),
    url("../fonts/Lufga-Thin.svg#Lufga-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-SemiBold.eot");
  src: url("../fonts/Lufga-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-SemiBold.woff2") format("woff2"),
    url("../fonts/Lufga-SemiBold.woff") format("woff"),
    url("../fonts/Lufga-SemiBold.ttf") format("truetype"),
    url("../fonts/Lufga-SemiBold.svg#Lufga-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Regular.eot");
  src: url("../fonts/Lufga-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-Regular.woff2") format("woff2"),
    url("../fonts/Lufga-Regular.woff") format("woff"),
    url("../fonts/Lufga-Regular.ttf") format("truetype"),
    url("../fonts/Lufga-Regular.svg#Lufga-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Black.eot");
  src: url("../fonts/Lufga-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-Black.woff2") format("woff2"),
    url("../fonts/Lufga-Black.woff") format("woff"),
    url("../fonts/Lufga-Black.ttf") format("truetype"),
    url("../fonts/Lufga-Black.svg#Lufga-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-BlackItalic.eot");
  src: url("../fonts/Lufga-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-BlackItalic.woff2") format("woff2"),
    url("../fonts/Lufga-BlackItalic.woff") format("woff"),
    url("../fonts/Lufga-BlackItalic.ttf") format("truetype"),
    url("../fonts/Lufga-BlackItalic.svg#Lufga-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Bold.eot");
  src: url("../fonts/Lufga-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lufga-Bold.woff2") format("woff2"),
    url("../fonts/Lufga-Bold.woff") format("woff"),
    url("../fonts/Lufga-Bold.ttf") format("truetype"),
    url("../fonts/Lufga-Bold.svg#Lufga-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary: #223e3f;
  --secondary: #f2c229;
  --custom-gradient: #fdf3e5;
  --light-gray: #fafaf5;
  --light-black: #515151;
  --border: #ebebeb;
  --font-primary: "lufga";
  --font-secondary: "Zen Dots", sans-serif;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
body {
  font-size: 1.8rem;
  line-height: normal;
  font-family: var(--font-primary);
  color: var(--light-black);
  overflow-x: hidden;
}
.btn-custom {
  background-color: var(--primary);
  font-size: 1.8rem;
  color: #fff;
  padding: 1.2rem 2.8rem;
  border-radius: 0.6rem;
}
.btn-custom:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
.btn-custom .bi {
  background-color: var(--secondary);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary);
  font-size: 1.2rem;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}
.btn-custom:hover > .bi {
  background-color: var(--primary);
  color: #fff;
}
.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.my-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}
/*Header*/
.header__brand {
  width: 10rem;
}
.header__nav-collapse {
  margin-left: 9rem;
}
.header__nav-list > li {
  margin: 0 2.5rem;
}
.header__nav-link {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header__nav-link.active {
  font-weight: 500;
  font-style: normal;
  color: var(--primary);
}
.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0.2rem;
  background-color: var(--primary);
  border-radius: 0.2rem;
  transition: width 0.3s ease-in-out;
}
.header__nav-link.active::after,
.header__nav-link:hover::after {
  width: 50%;
}
.header__cart-icon {
  width: 4.6rem;
  height: 4.6rem;
  background: var(--secondary);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__cart-badge {
  background-color: #fff;
  font-size: 1.1rem;
  color: var(--primary);
  width: 1.8rem;
  height: 1.8rem;
  font-weight: normal;
}

/*hero-section*/
.hero {
  background-color: #fff;
  padding: 190px 0 5rem;
}
.hero__decor-lamp {
  top: -190px;
  right: 160px;
}
.hero__tag {
  color: #bfbfbf;
  font-size: 2.4rem;
  font-weight: 500;
  font-style: normal;
}
.hero__title {
  font-size: 6.8rem;
  line-height: 8rem;
  font-weight: 500;
  font-style: normal;
  color: var(--primary);
}
.hero__description {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  color: var(--light-black);
}
.hero__ellipse-right {
  width: 557px;
  height: 557px;
  background-color: var(--secondary);
  opacity: 1;
  border-radius: 100%;
  filter: blur(1140px);
}
.hero__ellipse-left {
  width: 300px;
  height: 300px;
  background-color: var(--secondary);
  opacity: 1;
  border-radius: 100%;
  filter: blur(214px);
}
.hero__btn-play {
  background-color: transparent;
  padding: 0 0.5rem;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.hero__btn-play img {
  width: 7.5rem;
  height: 7.5rem;
  max-width: 100%;
  margin-right: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: start;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.8;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  height: auto;
  width: auto !important;
}
.hero__carousel-thumb img {
  position: absolute;
  top: 5.8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-height: 464px;
}
.hero__carousel-border {
  position: absolute;
  top: 0;
  left: 0;
  border: 0.3rem solid #d15401;
  border-radius: 232px 232px 0 0;
  width: 432px;
  height: 436px;
}
.hero__carousel-navigation {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  width: 124px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  z-index: 1000;
}
.hero__carousel-navigation .swiper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.hero__carousel-navigation .swiper-slide {
  width: 105px !important;
  height: 105px !important;
}
.hero__carousel-thumb {
  width: 432px;
  height: 570px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 5rem;
  height: 2rem;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  background-image: url("../images/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 5rem;
  height: 2rem;
}
.swiper-button-prev:after {
  background-image: url("../images/prev.svg");
  content: "";
}
.hero__carousel .swiper-button-next,
.hero__carousel .swiper-button-prev {
  width: 5rem;
  height: 2rem;
  bottom: 0;
  top: inherit;
  left: 8rem;
}
.hero__carousel .swiper-button-prev {
  left: 0;
}
.hero__carousel-navigation .hero__back-border {
  position: absolute;
  bottom: 0;
  width: 102px;
  height: 81px;
  border-radius: 0 0 231.5px 231.5px;
  background-color: #fdf4df;
  border: 1.5px solid #f2c229;
  box-shadow: 0px 7px 34px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.hero__carousel-navigation img {
  width: 74px;
  height: 80px;
}

.hero__carousel-navigation .swiper-slide {
  width: 105px !important;
  height: 105px !important;
  text-align: center;
  display: flex;
  justify-content: center;
}

/*Banner bottom*/
.luxury-section {
  background-color: var(--primary);
  min-height: 227px;
  z-index: 100;
  position: relative;
}
.luxury-section__chair-placeholder,
.luxury__chair {
  width: 50%;
}
.luxury-section__chair-placeholder > span {
  background-color: #2e4d4e;
  border-radius: 0 0 232px 232px;
  width: 232px;
  height: 184px;
  z-index: -1;
}
.luxury-section__chair-placeholder img {
  width: 231px;
  position: relative;
  top: -8rem;
}

.luxury__title {
  color: #fff;
}
.luxury__description,
.luxury__rating-box p,
.luxury__client-feedback p {
  font-size: 1.2rem;
  color: #bfbfbf;
}
.luxury__rating-box .rating-box {
  background-color: #2e4d4e;
  border-radius: 40px;
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
}

.luxury__rating-box .rating-box img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.1rem solid #fff;
}
.luxury__rating-box .rating-box img + img {
  margin-left: -0.6rem;
}

.luxury__rating-box .rating-box .star {
  background-color: var(--secondary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #000;
  margin-left: 0.6rem;
}
.luxury-section__image-container {
  background-color: var(--secondary);
  height: 100%;
}
.luxury-section__image-container > img {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.luxury__client-feedback {
  flex-direction: column;
  gap: 1rem;
}
.luxury__client-feedback span {
  color: var(--secondary);
  font-weight: 600;
  font-size: 1.8rem;
}
.luxury__rating-arrow {
  width: 3.5rem;
  height: 5.1rem;
}
.luxury__rating-box-container {
  padding: 0 5rem;
}
.luxury-section__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 95%;
  margin: 0 auto;
  width: 10000px;
  height: 100%;
  background-color: var(--secondary);
}

/*Product section*/
.product-section {
  margin-top: 9rem;
}
.home-page-title {
  font-weight: 600;
  color: var(--primary);
  font-size: 5.2rem;
  display: inline-block;
}
.home-page-title::after {
  content: "";
  position: absolute;
  background-image: url("../images/title-before.svg");
  width: 9.9rem;
  height: 5.6rem;
  background-size: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

.product-tabs__nav {
  border: none;
  gap: 1rem;
}

.product-tabs__link,
.product-tabs__nav .nav-link {
  border: none !important;
  color: #000;
  position: relative;
}
.product-tabs__nav .nav-link.active {
  font-weight: bold;
}
.product-tabs__nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0.2rem;
  background-color: var(--primary);
  border-radius: 0.2rem;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
}
.product-tabs__nav .nav-link.active::before {
  width: 50%;
}

.product-card__image {
  max-height: 120px;
  object-fit: contain;
}

.product-card__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #111111;
}

.product-card__price {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
  color: var(--primary);
}

#productTabsContent {
  margin-top: 5rem;
}
.product__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
.product__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  background-color: rgba(242, 194, 41, 0.1);
  padding: 3rem;
  border-radius: 1.6rem;
}
.product-card__image-container {
  background-color: #fff;
  border-radius: 1rem;
  height: 179px;
  position: relative;
}
.product-card__image {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  max-height: 160px;
}
.product-card__details {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 576px) {
  .product-tabs__nav {
    flex-wrap: wrap;
  }
}
/*category Stripe*/
.category-strip {
  background-color: var(--primary);
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
}

.category-strip__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  animation: scroll-left 15s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.category-strip__item {
  color: #fff;
  font-size: 1.6rem;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
}

.category-strip__item::after {
  content: "•";
  margin-left: 1.5rem;
  color: #fff;
}

.category-strip__item:last-child::after {
  content: "";
  margin: 0;
}

/* Scrollbar hide (optional) */
.category-strip::-webkit-scrollbar {
  display: none;
}

.category-strip {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.category-strip-section {
  z-index: 1;
}
/*top-selling-prducts*/
.top-selling-prducts {
  min-height: 800px;
  background-color: var(--custom-gradient);
  z-index: 1;
}
.text-watermark {
  font-size: 9.2rem;
  font-weight: 400;
  font-family: var(--font-secondary);
  color: rgba(243, 155, 32, 0.2);
  -webkit-text-stroke: 1px #f39b20;
  text-stroke: 1px #f39b20;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
}
.text-watermark-left,
.text-watermark-right {
  color: rgba(34, 62, 63, 0.2);
  font-weight: 400;
  font-family: var(--font-secondary);
  font-size: 4.1rem;
  position: absolute;
  top: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  top: -200px;
  height: 100%;
}
.text-watermark-left {
  left: 1rem;
}
.text-watermark-right {
  right: 1rem;
}
.top-selling__ellipse-top {
  width: 408px;
  height: 408px;
  background-color: var(--secondary);
  opacity: 1;
  border-radius: 100%;
  filter: blur(774px);
  top: -170px;
}
.top-selling__ellipse-bottom {
  width: 277px;
  height: 277px;
  background-color: var(--secondary);
  opacity: 1;
  border-radius: 100%;
  filter: blur(524px);
  bottom: 0;
}
.top-selling__ellipse-center {
  width: 277px;
  height: 277px;
  background-color: #000000;
  opacity: 1;
  border-radius: 100%;
  filter: blur(1140px);
  bottom: 9rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.top-selling-products__container .swiper {
  height: 800px;
}
.top-selling-products__container .swiper-zoom-container > img {
  max-height: 500px;
}
.top-selling-products__footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  padding: 2.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0.1rem solid var(--secondary);
  border-radius: 1.6rem;
  min-width: 350px;
  margin-top: 2rem;
}
.top-selling-products__footer h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #000;
}
.top-selling-products__footer p {
  font-size: 2.2rem;
  font-weight: 400;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.top-selling-products__footer p > span {
  text-decoration: line-through;
}
.top-selling-products__footer p > span + span {
  color: #e59322;
  font-size: 3.2rem;
  font-weight: 500;
  text-decoration: none;
}
.top-selling-products__container .swiper-button-next {
  right: 300px;
}
.top-selling-products__container .swiper-button-prev {
  left: 300px;
}
.top-selling-products__arrow {
  width: 15rem;
  height: 163px;
  background-image: url(../images/product-arrow.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -120px;
  right: -270px;
}
